#### 1. Import NumPy

Make sure to follow the conventions!

In [1]:
import numpy as np

#### 2. Create an array of 10 zeros

In [2]:
np.zeros(10)

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

In [3]:
# Expected output

#### 3. Create an array of 10 ones

In [4]:
ones = np.ones(10)

In [5]:
# Expected output

#### 4. Create an array of 10 fives

In [6]:
fives = ones * 5

In [7]:
# Expected output

#### 5. Create a vector, named `arr`, of 10 zeros the fifth value of which is 1.

In [8]:
zeros = np.zeros(10)
zeros[4] = 1
zeros

array([0., 0., 0., 0., 1., 0., 0., 0., 0., 0.])

In [9]:
# Expected output

#### 6. Create an array of the integers from 10 to 50

In [10]:
array = np.arange(10, 51)
array

array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26,
       27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43,
       44, 45, 46, 47, 48, 49, 50])

In [11]:
# Expected output

#### 7. Reverse an array in **TWO** ways: using 'the Python way' and using a NumPy function

In [12]:
arr = np.array([1, 2, 3])

res_py = arr[::-1] 
res_numpy = np.fliplr(np.atleast_2d(arr))[0]

print(f'Using the Python way: {res_py}')
print(f'Using a NumPy function: {res_numpy}')

Using the Python way: [3 2 1]
Using a NumPy function: [3 2 1]

In [13]:
# Expected output

#### 8. Create a 5x5 array with 1 on the border and 0 inside

In [14]:
arr = np.ones((5, 5))
arr[1:-1, 1:-1] = 0
arr

array([[1., 1., 1., 1., 1.],
       [1., 0., 0., 0., 1.],
       [1., 0., 0., 0., 1.],
       [1., 0., 0., 0., 1.],
       [1., 1., 1., 1., 1.]])

In [15]:
# Expected output

#### 9. Add a border filled with 0's on the two sides of an array.

> Hint: [np.pad](https://numpy.org/doc/stable/reference/generated/numpy.pad.html)

In [16]:
arr = np.array([1, 2, 3])
arr_updated = np.pad(arr, pad_width=(1, 1), mode='constant', constant_values=0)
arr_updated

array([0, 1, 2, 3, 0])

In [17]:
# Expected output

#### 10. Create an array of all the even integers from 10 to 50

In [18]:
even_integers = np.arange(10, 51, 2)
even_integers

array([10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42,
       44, 46, 48, 50])

In [19]:
# Expected output

#### 11. Create a 3x3 matrix with values ranging from 0 to 8

In [20]:
array = np.arange(9).reshape(3, 3)
array

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [21]:
# Expected output

#### 12. Create a 3x3 identity matrix

In [22]:
identity_matrix = np.eye(3)
identity_matrix

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [23]:
# Expected output

#### 13. Create a 5x5 matrix with values 1,2,3,4 just below the diagonal

> Hint: [np.diag](https://numpy.org/doc/stable/reference/generated/numpy.diag.html)

In [24]:
matrix = np.diag([1, 2, 3, 4], k=-1)
matrix

array([[0, 0, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [0, 2, 0, 0, 0],
       [0, 0, 3, 0, 0],
       [0, 0, 0, 4, 0]])

In [25]:
# Expected output

#### 14. Use NumPy to generate a random number between 0 and 1

**Note**: Your result's value should be different from the one shown below.

In [26]:
random_number = np.random.rand()
random_number

0.7783648148922204

In [27]:
# Expected output

#### 15. Use NumPy to generate an array of 25 random numbers sampled from a standard normal distribution

**Note**: Your result's values should be different from the ones shown below.

In [28]:
random_array = np.random.randn(25)
random_array

array([ 0.56456829, -1.7585599 ,  1.36565534, -0.11852352,  0.40856646,
        1.32563025, -0.41753789, -0.03274238,  0.77955525,  1.50136351,
       -0.70166627, -0.63345795,  0.9460454 , -0.53072201,  0.85845273,
       -1.59958184, -0.29567846,  1.0552973 ,  1.05951545,  0.22790793,
        0.47900154, -1.18407721,  0.25851564,  0.6727696 ,  0.40558414])

In [29]:
# Expected output

#### 16. Create a 3x3x3 array with random values drawn from the uniform distribution

**Note**: Your result's values should be different from the ones shown below.

In [30]:
random_array = np.random.random((3, 3, 3))
random_array

array([[[0.70720456, 0.27364017, 0.37818179],
        [0.23906131, 0.07235079, 0.67741093],
        [0.0934601 , 0.06385766, 0.31186809]],

       [[0.9113455 , 0.77889222, 0.61116926],
        [0.31963945, 0.14357349, 0.70747236],
        [0.80060394, 0.44192222, 0.43822047]],

       [[0.1271218 , 0.90648996, 0.75000836],
        [0.62660171, 0.89266168, 0.540427  ],
        [0.91731614, 0.51449129, 0.54787048]]])

In [31]:
# Expected output

#### 17. Create a 10x10 array with random values drawn from the uniform distribution and find the minimum and maximum values.

**Note**: Your result's values should be different from the ones shown below.

In [32]:
random_array = np.random.uniform(size=(10, 10)) 

min_value = np.min(random_array) 

max_value = np.max(random_array) 

print("Min value:", min_value)
print("Max value:", max_value)

Min value: 0.0003959941961169111
Max value: 0.9709677475671574

In [33]:
# Expected output

#### 18. Create a random array with values drawn from the uniform distribution of size 30 and find the mean value

In [34]:
arr = np.random.uniform(low=0.0, high=1.0, size=30)
mean_value = np.mean(arr)

print("Random Array:", arr)
print("Mean Value:", mean_value)

Random Array: [0.19679007 0.05670468 0.78859012 0.26533083 0.32876199 0.82567995
 0.17294194 0.99068683 0.23535106 0.53020814 0.53917849 0.49213524
 0.16962271 0.54338771 0.94279239 0.0929891  0.6827193  0.74462197
 0.30688097 0.80281024 0.52992383 0.34624229 0.58928639 0.74047278
 0.06198573 0.8266732  0.55421993 0.90436799 0.97501878 0.35706854]
Mean Value: 0.519781439908491

In [35]:
# Expected output

#### 19. Create the following matrix:

In [69]:
matrix = np.arange(.01, 1.01, 0.01)
matrix

array([0.01, 0.02, 0.03, 0.04, 0.05, 0.06, 0.07, 0.08, 0.09, 0.1 , 0.11,
       0.12, 0.13, 0.14, 0.15, 0.16, 0.17, 0.18, 0.19, 0.2 , 0.21, 0.22,
       0.23, 0.24, 0.25, 0.26, 0.27, 0.28, 0.29, 0.3 , 0.31, 0.32, 0.33,
       0.34, 0.35, 0.36, 0.37, 0.38, 0.39, 0.4 , 0.41, 0.42, 0.43, 0.44,
       0.45, 0.46, 0.47, 0.48, 0.49, 0.5 , 0.51, 0.52, 0.53, 0.54, 0.55,
       0.56, 0.57, 0.58, 0.59, 0.6 , 0.61, 0.62, 0.63, 0.64, 0.65, 0.66,
       0.67, 0.68, 0.69, 0.7 , 0.71, 0.72, 0.73, 0.74, 0.75, 0.76, 0.77,
       0.78, 0.79, 0.8 , 0.81, 0.82, 0.83, 0.84, 0.85, 0.86, 0.87, 0.88,
       0.89, 0.9 , 0.91, 0.92, 0.93, 0.94, 0.95, 0.96, 0.97, 0.98, 0.99,
       1.  ])

In [37]:
# Expected output

#### 20. Create an array of 20 linearly spaced points between 0 and 1:

In [38]:
arr = np.linspace(0, 1, 20)
arr

array([0.        , 0.05263158, 0.10526316, 0.15789474, 0.21052632,
       0.26315789, 0.31578947, 0.36842105, 0.42105263, 0.47368421,
       0.52631579, 0.57894737, 0.63157895, 0.68421053, 0.73684211,
       0.78947368, 0.84210526, 0.89473684, 0.94736842, 1.        ])

In [39]:
# Expected output

## Numpy Indexing and Selection

Now you will be given a starting matrix (be sure to run the cell below!), and be asked to replicate the resulting matrix outputs.

In all of the solutions until the last task before the section `NumPy Operations` you should be using `mat`.

In [40]:
# RUN THIS CELL - THIS IS OUR STARTING MATRIX
mat = np.arange(1,26).reshape(5,5)
mat

array([[ 1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10],
       [11, 12, 13, 14, 15],
       [16, 17, 18, 19, 20],
       [21, 22, 23, 24, 25]])

#### 21. Write code that reproduces the output shown below.

In [41]:
# CODE HERE
subarray = mat[2:, 1:]
subarray

array([[12, 13, 14, 15],
       [17, 18, 19, 20],
       [22, 23, 24, 25]])

In [42]:
# Expected output

#### 22. Write code that reproduces the output shown below.

In [43]:
value = int(mat[3, 4])
value

20

In [44]:
# Expected output

#### 23. Write code that reproduces the output shown below.

In [45]:
subarray = mat[:3, 1:2]
subarray

array([[ 2],
       [ 7],
       [12]])

In [46]:
# Expected output

#### 24. Write code that reproduces the output shown below.

In [47]:
mat[4]

array([21, 22, 23, 24, 25])

In [48]:
# Expected output

#### 25. Write code that reproduces the output shown below.

In [49]:
subarray = mat[3:]
subarray

array([[16, 17, 18, 19, 20],
       [21, 22, 23, 24, 25]])

In [50]:
# Expected output

#### 26. Find the indices of the non-zero elements in the provided array.

In [51]:
arr = np.array([1,2,0,0,4,0])

np.nonzero(arr)

(array([0, 1, 4]),)

In [52]:
# Expected output

## NumPy Operations

#### 27. Get the sum of all the values in mat

In [53]:
int(np.sum(mat))

325

In [54]:
# Expected output

#### 28. Get the standard deviation of the values in mat

In [55]:
float(np.std(mat))

7.211102550927978

In [56]:
# Expected output

#### 29. Get the sum of all the columns in mat

In [57]:
np.sum(mat, axis=0)

array([55, 60, 65, 70, 75])

In [58]:
# Expected output

#### 30. Create and multiply a 5x3 matrix by a 3x2 matrix (matrix product). The matrices can hold random values or you can create them manually.

**Note**: In this example output the matrices held random values, so your result's values should be different from the ones shown below.

In [59]:
matrix = np.random.rand(5, 3) 

product = np.random.rand(3, 2) 

result = np.matmul(matrix, product) 

print("Matrix:\n", matrix)
print("Product:\n", product)
print("Resultant matrix:\n", result)

Matrix:
 [[0.50387188 0.2751441  0.1992225 ]
 [0.12203412 0.74103024 0.59930162]
 [0.66936514 0.42103557 0.43233353]
 [0.15304685 0.85607665 0.61387689]
 [0.56949185 0.49591238 0.62739324]]
Product:
 [[0.17821042 0.92294095]
 [0.04165485 0.1849858 ]
 [0.9501389  0.95324699]]
Resultant matrix:
 [[0.29054535 0.70584999]
 [0.62203504 0.82099283]
 [0.54760291 1.10779073]
 [0.6462026  0.88479153]
 [0.71825726 1.21540481]]

In [60]:
# Expected output

#### 31. Create a 1D array of random integers between 0 and 9. Negate all elements which are between 3 and 8.

In [61]:
arr = np.random.randint(0, 10, 10) 
arr[(arr >= 3) & (arr <= 8)] *= -1 
arr

array([ 1, -5, -7, -7, -4, -8, -3, -5,  2, -8])

In [62]:
# Expected output

#### 32. Create a random array of size 10 and sort it

In [63]:
arr = np.random.rand(10)
arr.sort()
arr

array([0.05332175, 0.20598654, 0.31482671, 0.57675866, 0.57949407,
       0.58775114, 0.68650888, 0.74802022, 0.82675388, 0.93513005])

In [64]:
# Expected output

#### 33. Create random vector of values drawn from the uniform distribution of size 10 and replace the maximum value by 0

In [65]:
random_vector = np.random.uniform(size=10) 
max_index = np.argmax(random_vector) 
random_vector[max_index] = 0 
random_vector

array([0.9405545 , 0.        , 0.7586664 , 0.72863968, 0.43294638,
       0.95748724, 0.03730016, 0.01769496, 0.52892752, 0.11108261])

In [66]:
# Expected output

#### 34. What function can we use to ensure that we always get the same random numbers?

> **Your answer**: random.seed(value)